<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Flask Starter</h1>
  <h2>Don't forget to have a good time!</h2>
  <div>
    <p>Some data should appear below</p>
    <ul id="data"></ul>
  </div>
  
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="../static/js/index.js"></script>
</body>
</html>